<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
  <test thread-count="5" name="Test1">
   <parameter name = "myName" value="VAIBHAV"/>

      <classes>
         <class name = "TestNG__Parameterized_Test.ParameterizedTest1"/>
      </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
